<% provide(:title, 'New Beer') %>
<h1>New Beer</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@beer) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :style %>
      <%= f.select :styleId, @styleSelect %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :abv, "ABV (%)" %>
      <%= f.text_field :abv %>

      <%= f.submit "Create my beer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>