<% provide(:title, 'Beer Details') %>
<img src="<%= get_icon @beer.beerId %>" />
Name: <a href="/beers/<%= @beer.beerId %>"><%= @beer.name %></a> <br />
Style: <a href="/styles/<%= @beer.styleId.to_s %>"><%= @beer.style %></a> <br />
Description: <%= @beer.description %> <br />
ABV: <%= @beer.abv %>% <br />
IBU: <%= @beer.ibu %> <br />
<img src="<%= get_large_label @beer.beerId %>" />